/*  clearfix: injetar conteúdo após os elementos com float e “limpar” a flutuação. 
    Ver: https://www.origamid.com/codex/para-que-serve-o-clearfix/
    Ver: https://8thlight.com/blog/assets/posts/2016-04-15-alleviate-frontend-dev-pains-with-flexbox/parent-collapses-clearfix-0f3263575d11cbb0c23593613ad8a95a59aef99f4952875c37d939471cc5e75e.gif
    
*/
.about-row:after,.about-row:before {
    content:"";
    display:table;
    clear:both;
}
/* ditancia conteudo/borda */
.about-padding-64{
    padding-top:64px!important;
    padding-bottom:64px!important;
}
/* este float deve ser visto junto com o clearfix */
.about-col {
    float:left;
    width:100%;
}
/* largura das divs (imagem e texto) */
@media (min-width:601px){
    .about-col.m6 {width:39.99999%}
}
/* distancia conteudo/borda top left */
.about-padding{padding:8px 16px!important}

.about-padding-large{
    padding:12px 24px!important
}
/* IMAGEM */
@media (max-width:600px){
    .about-hide-small{display:none!important}  
}
/* arredondamento de bordas */
.about-round {border-radius:4px}
/* redimensionamento  */
.about-image{
    max-width:90%;
    height:auto
}
img{
    vertical-align:middle
}
a{
    color:inherit
}
/* opacidade da imagem */
.about-opacity-min{opacity:0.75}
/* centralizar titulo e subtitulo */
.about-center{text-align:center!important}
/* tamanho da fonte */
.about-large{font-size:18px!important}

/* cor da fonte */
.about-text-grey,.about-hover-text-grey:hover {color:#757575!important}

/* em determinado largura, retirar texto, ver classe about-text-grey */
@media (max-width:992px) and (min-width:601px){
    .about-hide-medium{display:none!important}
}

