
/* texto sobre imagem */
.header-display-container{position:relative}
/* imagem centralizada */
.header-content,.header-auto{
    margin-left:auto;
    margin-right:auto
}
/* largura maxima do header */
.header-content{
    max-width:980px;
}
/* desnecessario pois o espaco  entre as letras dos h1,h2...ja estao descriminados no App.css
.header-wide{
    letter-spacing:4px;
}
*/

/* redimensionamento automatico da imagem */
.header-image{
    max-width:100%;
    height:auto
}
img{
    vertical-align:middle
}
a{
    color:inherit;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.5;
}
/* texto sobre a imagem */
.header-display-bottomleft{
    position:absolute;
    left:0;
    bottom:0
}
/* distancia do texto da imagem left bottom */
.header-padding-large{
    padding:12px 24px!important
}
/* opacidade da letra acima a imagem */
.header-opacity{
    opacity:0.60
}
/* tamanho da fonte, texto acima a imagem */
.header-large{
    font-size:36px!important
}
