.nav-top {
    position:fixed; /* posicao fixa. Por exemplo: nao afetada pelo scrool. Veja: https://blog.froont.com/content/images/2015/01/05-fixed-position-FROONT.gif */
    width:100%; /*largura de um elemento */
    z-index:1; /* ordem de emplilhamento: 1: sobre, -1: abaixo. Veja: https://www.w3schools.com/cssref/playit.asp?filename=playcss_z-index&preval=2 */
    top:0; /* posicao a partir da borda superior */
}
nav-bar{
    width:auto;
    overflow:hidden
}
.nav-white {
    color:#000!important;
    background-color:#fff!important
}

.nav-padding{
    padding: 16px !important; /* distancia entre conteudo e bordas */
}
.nav-card {
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); /* sombra abaixo à navbar */
}

.nav-right {
    float:right!important /* o elemento deve flutar, no caso, à direita*/
}

.nav-bar .nav-bar-item{
    padding:8px 16px;
}
.nav-button:hover{
    color:#000!important;
    background-color:#ccc!important
}
@media only screen and (max-width: 700px) {
  div.nav-right {
    display:none ;
  }
}


